
h1 {
   color:pink;
   font-family: verdana;
   font-size: 300%;
}

body {
  background-image: url('cute.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:100% 100%;
  border: 5px solid white;
  
}
img {
   width:20%;
   height:50%;
}   
p { 
  color: Black;
  font-family: Harrington;
  font-size:140%;
  text-align:center;
}

p2 {
    color: red;
    font-family: Harrington;
    font-size: 150%;
    text-align: center;   

}


p3 {
    color: black;
    font-family: times new roman;
    font-size: 100%;
    text-align: center;
}

