h1 {
   color: #ff69b4;
}

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
  border: 5px solid white;
} 
  
p { 
  color: black;
}

p2 {
    color: red;
}