body {
background-image: url(cute.png);
background-repeat: no-repeat;
background-size: 100% 100%;
border: 5px solid white;
}

h1 {
   color: #ff69b4;;
   font-family: 'IBM Plex Serif',serif;
   font-size: 300%;
}

p { 
  color: Black;
  font-family: Harrington;
  font-size:140%;
}

p2 {
    color: red;
    font-family: Harrington;
    font-size: 150%;
}

p3 {
    color: black;
    font-family: Comic Sans MS;
    font-size: 140%;
}